MONGO_URI=mongodb://localhost:27017/your_database_name
PORT=3000
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_refresh_secret
EMAIL_VERIFICATION_SECRET=email_verification_secret
GOOGLE_CLIENT_ID=your_google_oauth_client_id
EMAIL_FROM=your_email@gmail.com
EMAIL_PASS=your_email_password
CLIENT_URL=http://localhost:3000
RESET_PASSWORD_SECRET=supersecretresetkey123!
